<div class="container">
    <div class="col-12 text-center">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" href="#">Ativo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/entrada">Entrada</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Desativado</a>
            </li>
        </ul>
    </div>
</div>
